<navtop-dir></navtop-dir>
<sidebar-dir></sidebar-dir>

<content-dir ng-if="setPage == 'Overview'"></content-dir>

<!-- NavTop -->
<dashboard-dir ng-if="setPage == 'Dashboard'"></dashboard-dir>
<help-dir ng-if="setPage == 'Help'"></help-dir>
<profile-dir ng-if="setPage == 'Profile'"></profile-dir>
<overview-dir ng-if="setPage == 'Overview'"></overview-dir>

<!-- Pages Settings -->
<homeadmin-dir ng-if="setPage == 'Home Page'"></homeadmin-dir>
<categadmin-dir ng-if="setPage == 'Categories'"></categadmin-dir>
<aboutadmin-dir ng-if="setPage == 'About'"></aboutadmin-dir>
<contactadmin-dir ng-if="setPage == 'Contact'"></contactadmin-dir>

 