<div class="fe">
<div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Absolute protection. 
          <!-- <span class="text-muted">Checkmate.</span> -->
          </h2>
          <p class="lead">The program of additional service (diagnosis, cleaning and repair) equipment purchased in retail stores for 2, 3 or 5 years, depending on your preference.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/protect.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Low prices. <span class="text-muted">You found cheaper? We will refund 200% of the difference!</span></h2>
          <p class="lead">Even if within 7 days, you will find a similar product from a competitor cheaper than we paid - we will return you to your bonus account 200% of the difference between the purchase price and found a lower price.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/img/low.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Only certified goods. <span class="text-muted">All items in our store are accompanied by a guarantee.</span></h2>
          <p class="lead">We value our reputation, and therefore do not knowingly sell unofficial or illegal goods with no guarantee and service support in Ukraine.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/star.png" alt="Generic placeholder image">
          <!-- data-src -->
        </div>
      </div>

      <hr class="featurette-divider">
</div>
</div>