<div class="admin">
  <div class="container-fluid">
      <div class="row">
<!-- MAIN START -->
        <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Profile</h1>
			<div class="row placeholders">
	            <div class="col-xs-6 col-sm-3 placeholder">
	              <img src="/img/profile.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
	              <!-- <h4>Label</h4>
	              <span class="text-muted">Something else</span> -->
	            </div>

	            <div class="col-xs-6 col-sm-6 placeholder">
	              <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> -->
	              <h1 style="margin-top:50px">Hello, Admin</h1>
	              <!-- <span class="text-muted">Most popular</span> -->
	            </div>
         	</div>
         	<br>
	         <h3>Welcome you to the admin side.</h3> 
	         <h3>From here you can control the content of the pages of your online store.</h3> <h3>The site was designed with the expectation of maximizing the ease of management of content pages, but if you have any problems you can go to "Help" and learn more.</h3> <h3>Good luck! </h3>
          </div>
        </div>
      </div>
    </div>
</div> 