<div class="fe">
<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="/img/images.jpg" alt="Generic placeholder image" width="140" height="140"> -->
          <h1 class="contactSize">Contact Us</h1>
          </div>
          </div>

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">We will be glad to see you at : 
          <span class="text-muted"><address> 207, Central Street, Dnipropetrovsk, Ukraine</address></span></h2>
          <!-- <p class="lead"></p> -->
          <!-- <p>207, Central Street, Dnipropetrovsk, Ukraine</p> -->
          <h2 class="featurette-heading">You can also write to us : <span class="text-muted">
          <address>support@eShop.com</address> </span></h2>
          <!-- <p>support@eShop.com</p> -->
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/img/contact.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
</div>
</div>