<div class="fe">
<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="/img/images.jpg" alt="Generic placeholder image" width="140" height="140"> -->
          <h1 class="aboutSize">About Us</h1>
          </div>
          </div>

<!-- <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About Us</h2>
        </div>
</div> -->

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Online Store eShop™ <span class="text-muted">is by far the most popular electronics store and home appliances in Ukraine.</span></h2>
          <p class="lead">Our company has offices exist in all regions of Ukraine. Such a status we have achieved thanks to the widest possible range, reasonable pricing and excellent service.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/4.jpeg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">We can help you choose, <span class="text-muted">we will not give to miss!</span></h2>
          <p class="lead">Our task is not only to simply sell the right product, but also to inform and educate the buyer. To do this, we remove the overview videos of "hot" new products, preparing articles and news. Armed with comprehensive information about an interesting device and its main competitors, you will be able to make an informed buying decision is the commodity you want. Our site is visited by an average of more than 800 000 unique visitors per day, and this number continues to grow. Not stopping there, we continue to build momentum, striving to become the best in the country portal of electronics and household appliances - a place where you will be able to choose and purchase any equipment - conscious, inexpensive and convenient.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/img/7.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">For convenience, selection <span class="text-muted">we strive to provide you with as much useful information about products.</span></h2>
          <p class="lead">We have a demo shop, where you can "live" view and try out vending device, or simply pick up your order.</p> 
          <p>We are professional vendors and consultants. In a telephone mode or directly to the store, they are ready to provide you with expert technical advice and answer any questions.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/5.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
</div>
</div>